.data-group label {
  display: block;
  font-size: .25rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  margin-bottom: 0;
}

.data-group svg {
  height: 12px;
  margin-right: .25em;
  vertical-align: text-top;
  fill: #868e96;
}

.data-group label:hover {
  text-decoration: none;
}

.data-group span {
  font-size: .75rem;
}

span.language {
  display: inline-block;
  font-size: .5em;
  margin-right: .5em;
}

.reviewer-link {
  margin-right: 0.5rem;
}
